@theme inline {
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-destructive: var(--destructive);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-ring: var(--ring);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-destructive-foreground: var(--destructive-foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --accent: oklch(0.953 0.05 180.801);
  --accent-foreground: oklch(0.292 0.033 192.352);
  --background: oklch(1 0 0);
  --border: oklch(0.906 0.013 185.068);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.292 0.033 192.352);
  --destructive: oklch(0.5 0.182 29.513);
  --foreground: oklch(0.292 0.033 192.352);
  --input: oklch(0.906 0.013 185.068);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.024 189.076);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.292 0.033 192.352);
  --primary: oklch(0.511 0.086 186.391);
  --primary-foreground: oklch(1 0 0);
  --ring: oklch(0.6 0.104 184.704);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.925 0 0);
  --sidebar-ring: oklch(0.709 0 0 / 0.64);
  --destructive-foreground: oklch(0.985 0 0);
  --radius: 0.625rem;
  --font-sans: 'Inter Variable', sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
}

.dark {
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --background: oklch(0.145 0 0);
  --border: oklch(1 0 0 / 0.1);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.702 0.189 22.228);
  --foreground: oklch(0.985 0 0);
  --input: oklch(1 0 0 / 0.15);
  --muted: oklch(0.274 0.005 286.033);
  --muted-foreground: oklch(0.714 0.019 261.325);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --ring: oklch(0.617 0 0 / 0.57);
  --secondary: oklch(0.274 0.005 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.405);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 0.1);
  --sidebar-ring: oklch(0.439 0 0 / 0.64);
  --destructive-foreground: oklch(0.985 0 0);
}
